# Node
node_modules/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Built
/dist/*/*
!/dist/cjs/package.json
/lib

# Testing
/coverage

# Other
.cache
/*.log
*.lock
.DS_Store
